<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>THE HOME PAGE <%= 4+8+5 %> <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nostrum mollitia necessitatibus reprehenderit
        atque modi numquam illum, soluta, expedita a aliquid vero! Animi dolorum nostrum libero quos excepturi modi eos?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, incidunt soluta nihil sed dolorem ab possimus
        temporibus veritatis deserunt provident velit beatae repudiandae neque tempora. At ut illum minus consectetur!
    </p>
    <%- include('partials/footer') %>